.about .container{
  margin-bottom: 59px;
  padding-top:97px;
  position: relative;
}

.about__content{
  background:url("../img/mountains.png") center center no-repeat;
  object-fit: cover;
  width: 785px;
  height: 455px;
  padding: 70px 204px 66px 81px;
  margin-left:auto;
  position: relative;
  overflow: hidden;
}

.about .container:before{
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  position:absolute;
  left: 0;
  top: 0;
  background: url("../img/gates.png") no-repeat;
}

.about__content-text{
  color: #000;
  text-decoration: none;
  font-size: 36px;
  font-style: bold;
  margin-bottom: 37px;
}

.about__content-desc{
  text-decoration: none;
  color: #060606;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 57px;
}