.button{
  font-size: 14px;
  font-weight: bold;
  border: 1px;
  padding: 18px 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 35px;
  transition: color.7s , background.7s;
}

.button--dark.button {
  background: #F5170E;
}

.offer-button{
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #F5170E;
  border: 1px solid #F5170E;
  border-radius: 35px;
  padding: 18px 29px 18px 29px;
  background: #fff;
  text-transform: uppercase;
  margin-top: auto;
  transition: color.7s , background.7s;
}

.offer-button:hover{
  color: #fff;
  background: #F5170E;
}

.button--road:hover{
  color: #fff;
  background: #F5170E;
}

.button--clear{
  background: #2B2B2B;
  padding: 18px 44px;
}

.button--send{
  background: #F5170E;
}

.button--welcome{
  padding: 18px 58px;
  background: #F5170E;
  font-size: 14px;
  font-weight: bold;
  border: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.7s;
}

.button--welcome:hover{
  background: #DA0100;
}