.button{
  font-size: 14px;
  font-weight: bold;
  border: 4px;
  padding: 18px 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 35px;
}

.button--dark.button {
  width:168px;
  background: #F5170E;
}

.offer-button{
  width: 135px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #F5170E;
  border: 1px solid #F5170E;
  border-radius: 35px;
  padding: 18px 29px 18px 29px;
  background: #fff;
  text-transform: uppercase;
  margin-top: auto;
}

.offer-button:hover{
  color: #fff;
  background: #F5170E;
}