.contacts{
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.1;
  min-width: 191px;
  margin-left: 74px;
  margin-top: 8px;
}

.contacts__phone{
  text-decoration: none;
  font-size: 26px;
}

.contacts__work{
  text-decoration: underline;
  font-size: 13px;
  color: #98A4A8;
}

.contacts__work:hover{
  color: #FFFFFF;
}

.contacts__text{
  font-size: 11px;
  color: #98A4A8;
  margin-bottom:6.5px;
}

.contacts__text:hover{
  color: #FFFFFF;
}