.form__row{
  display: flex;
  margin-bottom: 5px;
}

.form__title{
  padding-top: 57px;
  padding-bottom: 57px;
  font-size: 48px;
}

.form__input{
  flex: 1;
  margin-right: 30px;
  background: #fff;
  border: 1px solid transparent;
  padding: 22px 30px;
  font-size: 18px;
}

.form__input:focus{
  outline: none; /*для Хрома*/
  border: 1px solid #F5170E;
}

.form__input:last-child{
  margin-right: 0px;
}

.form__input--textarea{
  margin-bottom: 32px;
  height: 235px;
  resize: none;
}

.choice__list{
  display: flex;
  flex-wrap: wrap;
}

.choice{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 34px;
}

.choice__question{
  font-size: 18px;
  color: #1A1B1E;
  width: 46%;
  margin-right: 33px;
}

.choice__list{
  display: flex;
  justify-content: flex-start;
  gap: 9px;
}

.choice__elem{
  cursor: pointer;
}

.choice__checkbox:focus ~ .choice__tag{
  border: 1.5px solid #B9EAE4;
}

.choice__checkbox:checked ~ .choice__tag{
  background: #B9EAE4;
}

.choice__checkbox{
  appearance: none;
  -ms-progress-appearance: none;
  position: absolute;
}

.choice__tag{
  background: #E7E7E7;
}

.control-buttons{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 96px;
  column-gap: 17px
}