.hero{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width:50%;
  text-align: left;
  margin-bottom:243px;
}

.hero__title{
  font-size: 72px;
  font-weight: bold;
  line-height: 1.37;
  margin: 0px;
  padding: 0px;
  margin-bottom: 25px;
}

.hero__call{
  font-size: 18px;
  margin-bottom: 30px;
}