@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
  background: url("../img/eliphant.png") center top no-repeat, url("../img/mountains-back.png") center bottom 165px no-repeat;
  position: relative;
} 

.container{
  max-width: 1141px; 
  margin: 0px auto ;
}

a{
  color: inherit;
}

ul{
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;
}

h1 h2 h3 h4 h5 h6 p{
  margin: 0;
  font-weight: normal;
}

*{
box-sizing: border-box;
}

.header{
  height: 120px;
  position: relative;
  margin-bottom: 76px;
}

.header__logo{
  display: block;
  position: absolute;
  top: 29px;
  left: 0;
}

.logo__img{
  width: 85px;
  height: 36px;
}

.header__menu{
  position: absolute;
  top: 40px;
  left: 164px;
}

.menu__item{
  display: inline-block;
  vertical-align: middle;
  margin-right:51px;
}

.menu__link{
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover{
  color: #DA0100;
}

.header__contacts{
  font-style: normal;
  position: absolute;
  text-align:right;
  top: 30px;
  right: 0px;
  line-height: 1.1;
}

.contacts__phone{
  text-decoration: none;
  font-size: 26px;
}

.contacts__work{
  text-decoration: underline;
  font-size: 13px;
  color: #98A4A8;
}

.contacts__work:hover{
  color: #FFFFFF;
}

.hero{
  display: block;
  width: 520px;
  text-align: left;
  margin-bottom:261px;
}

.hero__title{
  font-size: 72px;
  font-weight: bold;
  line-height: 1.37;
  margin: 0px;
  padding: 0px;
  margin-bottom: 25px;
}

.hero__call{
  font-size: 18px;
  margin-bottom: 45px;
}

.button{
  font-size: 14px;
  font-weight: bold;
  border: 4px;
  padding: 18px 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 35px;
}

.button--dark.button {
  background: #F5170E;
}

.offers{
  width: 1149px;
  height: 549px;
  margin-bottom: 127px;
}

.offers__title{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
  margin-right: 12px;
}

.offers__title::after{
  content:url(../img/flame.png);
  position: absolute;
  margin-left: 14px;
  padding-top: 2px;
}

.offers__item{
  width: 362px;
  min-height: 449px;
  background:#FFFFFF;
  border-radius: 4px;
  display: inline-block;
  margin-right: 22px;
}

.offers__item:last-child{
  margin-right: 0;
}

.offers__cover{
  width: 100%;
  height: 144px;
}

.offers__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offers__content{
  width: 362px;
  padding: 8px 16px 26px 22px;
}

.offers__subtitle{
  color: #000;
  font-style: bold;
  font-size: 24px;
  margin-bottom:23px;
}

.offers__conditions-list{
  display: inline-block;
  color:#666;
  margin-bottom: 3px;
}

.offers__icon-calendar{
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-left: 5px;
}

.offers__icon-meal{
  display: inline-block;
  width: 36px;
  height: 26px;
}

.offers__conditions-list:last-child{
  margin-right: 0;
}

.offers__conditions-item{
  display: inline-block;
}

.offers__text-calendar{
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  position: relative;
  margin-left: 6px;
  margin-right: 24px;
}

.offers__text-meal{
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  position: relative;
  margin-left: 4px;
}

.offers__desc{
  color:#303030;
  font-size: 14px;
  margin-bottom: 25px;
}

.offer-button{
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #F5170E;
  border: 1px solid #F5170E;
  border-radius: 35px;
  padding: 18px 29px 18px 29px;
  background: #fff;
  text-transform: uppercase;
}

.offer-button--dark{
  color: #fff;
  background: #F5170E;
}

.promotion{
  width: 1149px;
  height: 600px;
  margin-bottom: 124px;
}

.promotion__title{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}

.promotion-list{
  display: inline-block;
  margin-bottom: 49px;
}

.promotion__item{
  min-height: 394px;
  width: 557px;
  display: inline-block;
  border-radius: 4px;
  margin-right: 21px;
  position: relative;
  overflow: hidden;
}

.promotion__item:last-child{
  margin-right: 0;
}

.promotion__img-link{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promotion__content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top:252.5px;
  padding-left: 30px;  
  text-align:left;
  padding-right: 44px;
}

.promotion__content-date{
  font-size: 14px;
  margin-bottom: 14px;
  color: #fff
}

.promotion__content-title{
  font-size: 24px;
  font-style: bold;
  text-decoration: none;
  margin-bottom: 2px;
  margin-top: 0;
}

.promotion__content-text{
  text-decoration: none;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  font-style: normal;
  margin-top: 0;
}

.paginator{
  text-align: center;
}

.paginator__display,.paginator__list{
  display: inline-block;
  vertical-align: middle;
}

.paginator__display{
  margin-right: 18px;
}

.paginator__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  text-decoration: none;
}

.paginator__item--active{
  background: #FFFFFF;
  color: #F5170E;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  border: 4px;
  line-height: 32px;
  margin: 0 13px 0 0;
}

.paginator__item-link{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.about{
  background: url("../img/mountains.png") right 0 top 97px no-repeat, url("../img/gates.png") top 0 left 0 no-repeat;
  width: 1139px;
  min-height: 552px;
  margin-bottom:44px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.about__content{
  position: relative;
  top: 132px;
  right: 0;
  left: 0;
  padding-left: 435px;
  padding-bottom: 66px;
}

.about__content-text{
  color: #000;
  text-decoration: none;
  font-size: 36px;
  font-style: bold;
  margin-bottom: 37px;
}

.about__content-desc{
  text-decoration: none;
  color: #060606;
  font-size: 16px;
  line-height: 27px;
  width: 502px;
  min-height: 135px;
  margin-bottom: 61px;
}

.footer{
  height: 120px;
  position: relative;
  margin-bottom: 57px;
}

.line{
  position: absolute;
  width: 1141px;
  border-bottom: 1px;
  color: #fff;
  opacity: 10%;
}

.footer__logo{
  display: block;
  position: absolute;
  top: 56px;
  left: 0;
}

.footer__menu{
  position: absolute;
  top: 65px;
  left: 164px;
}


.socials{
  position: absolute;
  top: 60px;
  right:263px;
}

.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right:7px;
}

.socials__item:last-child{
  margin-right: 0;
}

.footer__contacts{
  font-style: normal;
  position: absolute;
  text-align:right;
  top: 56px;
  right: 0px;
  line-height: 1.1;
}

.contacts__text{
  font-size: 11px;
  color: #98A4A8;
  margin-bottom:6.5px;
}

.contacts__text:hover{
  color: #FFFFFF;
}