.meet{
  text-align: left;
  color: #fff;
}

.page__title{
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 39px;
}

.pages__link{
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  color: #9A9A9A;
}

.pages__link--active{
  font-weight: bold;
}

.breadcrumbs__list{
  display: flex;
  justify-content:flex-start;
  margin-bottom: 24px;
}

.breadcrumbs__item{
  font-size: 14px;
  line-height: 16px;
  color: #9A9A9A;
}

.breadcrumbs__link{
  text-decoration: none;
}

.breadcrumbs__item::after{
  content: "/";
  margin-right: 2px;
  
}

.breadcrumbs__item:last-child:after{
  display: none;
}

.breadcrumbs__item--active{
  font-weight: bold;
}