.paginator{
  display: flex;
  justify-content:center;
}

.paginator__display,.paginator__list{
  display: flex;
  align-items: center;
}

.paginator__display{
  display: flex;
  align-items: center;
  justify-content:center;
  margin-right: 18px;
}

.paginator__item{
  margin-right: 20px;
  text-decoration: none;
}

.paginator__item--active{
  text-align: center;
  background: #FFFFFF;
  color: #F5170E;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  border: 4px;
  line-height: 32px;
  margin: 0 13px 0 0;
}

.paginator__item-link{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}