.paginator{
  display: flex;
  justify-content:center;
}

.paginator__display,.paginator__list{
  display: flex;
  align-items: center;
}

.paginator__display{
  display: flex;
  align-items: center;
  justify-content:center;
  margin-right: 18px;
}

.paginator__item{
  width: 32px;
  height: 32px;
  text-decoration: none;
  text-align: center;
  line-height: 32px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 20px;
  line-height: 32px;
}

.paginator__item:hover{
  text-align: center;
  background: #F5170E;
  color: #fff;
  border-radius: 20px;
  border: 1px;
  transition: 0.7s;
}

.paginator__item-link{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}