.footer-services{
  background: #001821;
  color:#fff;
}

.footer__container--services{
  color:#fff;
  min-height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}