.road__button{
  font-size: 14px;
  font-weight: bold;
  padding: 18px 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #F5170E;
  border-radius: 35px;
  border: 1px solid #F5170E;
  width:168px;
}

.road__button--dark {
  width:168px;
  background: #F5170E;
  color:#fff;
}

