.meet{
  width:50%;
  text-align: left;
  margin-bottom:120px;
  color: #fff;
}

.meet__title{
  font-size: 72px;
  font-weight: bold;
  line-height: 1.37;
  margin: 0px;
  padding: 0px;
  margin-bottom: 100px;
}

.pages__link{
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  color: #9A9A9A;
}

.pages__link--active{
  font-weight: bold;
}